@charset "UTF-8";

body {
	background-color: #EEEEEE;
	height: 200px;
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	background-color: white;
	padding: 20px;
	position: absolute;
	top: 630px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	width: 90%;
	height: 250%;



	text-align: center;
}

h3 {
	font-family: Hiragino Kaku Gothic ProN;
	font-weight:100;
	font-size:25px;

}

.button {

	font-family: Hiragino Kaku Gothic ProN;
	text-align: center;
	padding: 250px;

	display: inline-block;
	top:100px;
}

.result_button, .back_button,.top_button {
	display: inline-block;
	max-width: 180px;
	text-align: left;
	background-color: #8ce901;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	padding: 10px 32px 10px 32px;
	border-radius: 5px;
	position: relative;
}

.back_button {
	background-color: #FFF;
	color: #7ccf01;
	position:absolute;
	left:650px;
}

.top_button{
	background-color: #FFF;
	color: #7ccf01;
	position:absolute;
	right:800px;
	top:450px;

}

.result_button {
	background-color: #8ce901;
	color: #FFF;
	position:absolute;
	right:650px;
}

.btn-icon:hover {
	opacity: 0.8;
}

.no{
	font-family: Hiragino Kaku Gothic ProN;
	font-weight:100;
	font-size:18px;
	padding-top:10px;
}
