@charset "UTF-8";

body {
	background-color: white;
}

.main_photo {
	text-align: center;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.header {
	text-align: right;
	padding: 10px;
	color: #fff; /* 文字色 */
	margin: 10px; /* 外側の余白 */
	border-radius: 5px;
}

.main{
	display:flex-box;
	flex-wrap:wrap;


}








.img,.name,.detail,.price{
	width:400px;          /*青部分の横幅*/
	margin:0 0 8px 0;
	padding-top:0;
	padding-bottom:0;
	font-family:"ヒラギノ角ゴ";
	font-size:20px;
}

td{
	display:block;
}

.category{
	display:none;
}



