@charset "UTF-8";
html,body{
	height:100vh;
	width:100%
}
header{
	height:3%;
	width:100%;

}

button{

}

main{
	background-color: #87CEFA;
	height:97%;
	width:100%;
	font-size: 150%;

	display: flex; /* 要素をflexboxに対応させる */
  	align-items: center; /* 縦方向の中央揃え */
  	justify-content: center; /* 横方向の中央揃え */
  	flex-direction: column; /* 子要素の並びを上から下にする（要素の改行に対応） */
}

h4{
	text-align: right;

}