<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<display-name>shopping</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>

		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>jp.co.aforce.servlets.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/UserLoginServlet</url-pattern>


	</servlet-mapping>

	<servlet>
		<servlet-name>loginAdminServlet</servlet-name>
		<servlet-class>jp.co.aforce.servlets.LoginAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginAdminServlet</servlet-name>
		<url-pattern>/loginAdminServlet</url-pattern>

	</servlet-mapping>

	<servlet>
		<servlet-name>registerAdminServlet</servlet-name>
		<servlet-class>jp.co.aforce.servlets.RegisterAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerAdminServlet</servlet-name>
		<url-pattern>/registerAdminServlet</url-pattern>
	</servlet-mapping>


	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>


       <servlet>
    <servlet-name>selectProbuctServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.SelectProbuctServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectProbuctServlet</servlet-name>
    <url-pattern>/selectProbuctServlet</url-pattern>
  </servlet-mapping>


   <servlet>
    <servlet-name>productDetailServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productDetailServlet</servlet-name>
    <url-pattern>/productDetailServlet</url-pattern>
  </servlet-mapping>


   <servlet>
    <servlet-name>changeProductServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.ChangeProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeProductServlet</servlet-name>
    <url-pattern>/changeProductServlet</url-pattern>
  </servlet-mapping>



</web-app>